.gallary-view {
  display: grid;
  gap: 1rem;

  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.gallary-view .img-container {
  background-color: black;
}

.gallary-view img {
  transition: 0.3s ease;
}

.gallary-view img:hover {
  cursor: pointer;
  opacity: 0.2;
}
